h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

#section-overview {
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}